<!-- PAGE HEADER -->
<div class="container page-header ph-bg2">
  <div class="row">
    <div class="twelve columns">
      <p class="page-title">Profil du POS <%= current_user.company %> </p>
      <ul class="breadcrumbs">
        <li><a><%= render "shared/display_user_name" %></a></li>
        <li><a href="<%= root_path %>">Accueil</a></li>
      </ul>
    </div>
  </div>
</div>
<!-- END PAGE HEADER -->

<div class="container main_content">
  <div class="row">
    <div class="sidebar six columns">
    <h2 class = "sb_header">Informations liées au POS marchand</h2>
    <p>
      <b><%= link_to "Créer un pos particulier", new_private_pos_account_path(current_user.certified_agent_id), style: "color: blue; font-weight: bold;" %></b>
    </p>
    <p>
      <b><%= link_to "Liste des pos particuliers", list_private_pos_account_path(current_user.certified_agent_id), style: "color: blue; font-weight: bold;" %></b>
    </p>
    <p>
      <b>Nom:</b><br /> <%= current_user.firstname %>
    </p>
    <p>
      <b>Prénom:</b><br /> <%= current_user.lastname %>
    </p>
    <p>
      <b>Entreprise:</b><br /> <%= current_user.company %>
    </p>
    <p>
      <b>Numéro fixe:</b><br /> <%= current_user.phone_number %>
    </p>
    <p>
      <b>Numéro mobile:</b><br /> <%= current_user.mobile_number %>
    </p>
    <p>
      <b>Adresse:</b><br /> <%= current_user.address %>
    </p>
    <p>
      <b>Email:</b><br /> <%= current_user.email %>
    </p>
    <p>
      <b>Description des activités:</b>
      <div class = "quoteBox2">
        <div class = "quote-text2">
          <%= simple_format(current_user.activities_description) %>
        </div>
      </div>
    </p>
    <p>
      <b>Pays:</b><br /> <%= current_user.country.name %>
    </p>
    <div class = "divider3"></div>
    <p>
      <b>Code banque:</b><br /> <%= current_user.bank_code %>
    </p>
    <p>
      <b>Code guichet:</b><br /> <%= current_user.wicket_code %>
    </p>
    <p>
      <b>Numéro de compte:</b><br /> <%= current_user.account_number %>
    </p>
    <p>
      <b>Clé rib:</b><br /> <%= current_user.rib %>
    </p>
    <div class = "divider3"></div>
    <p>
      <b>Id agent agréé:</b><br /> <%= current_user.certified_agent_id %>
    </p>
    <p>
      <b>Date de création:</b><br /> <%= current_user.created_at.strftime("%d-%m-%Y") %> à <%= current_user.created_at.strftime("%Hh %Mmn") %>
    </p>
  </div>
  <div class="sidebar six columns">
    <h2 class = "sb_header">Informations liées à Paymoney</h2>
    <p>
      <b>Numéro de compte:</b><br /> <%= current_user.paymoney_account_number %>
    </p>
    <p>
      <b>Mot de passe:</b><br /> <%= current_user.paymoney_password %>
    </p>
    <p>
      <b>Token:</b><br /> <%= current_user.paymoney_token %>
    </p>
  </div>
  </div>
</div>
