<!-- PAGE HEADER -->
<div class="container page-header ph-bg2">
  <div class="row">
    <div class="twelve columns">
      <p class="page-title">Créez un compte POS particulier: <%= @pos_account.company %></p>
      <ul class="breadcrumbs">
        <li><a href="<%= root_path %>">Accueil</a></li>
      </ul>
    </div>
  </div>
</div>
<!-- END PAGE HEADER -->

<div class="container main_content">
  <div class="row">
    <div class="six columns">

      <h1>Enregistrez le compte</h1>
      <%#= render "shared/generic_flash" %>
      <%= devise_error_messages! %>
      <%= form_for(resource, as: resource_name, url: create_private_pos_account_path(resource_name)) do |f| %>
        <%= hidden_field_tag :certified_agent_id, @pos_account.certified_agent_id %>
        <div class="form-group">
          <%= f.collection_select :pos_account_type_id, @pos_account_type, :id, :name, options ={}, html_options = {class: "form-control", style: "display:none;"} %>
        </div>
        <div class="form-group">
          <%= f.label :firstname %>
          <%= f.text_field :firstname, autofocus: true, class: "form-control", placeholder: "Veuillez entrer votre nom" %>
        </div>
        <div class="form-group">
          <%= f.label :lastname %>
          <%= f.text_field :lastname, class: "form-control", placeholder: "Veuillez entrer votre prénom" %>
        </div>
        <div class="form-group">
          <%= f.label :company %>
          <%= f.text_field :company, class: "form-control", placeholder: "Veuillez entrer le nom de l'entreprise", style: "display:none;" %>
        </div>
        <div class="form-group">
          <%= f.label :activities_description %>
          <%= f.text_area :activities_description, class: "form-control", placeholder: "Veuillez décrire les activités de l'entreprise", style: "display:none;" %>
        </div>
        <div class="form-group">
          <%= f.label :country_id %><br />
          <%= f.collection_select :country_id, @countries, :id, :name, options ={prompt: "Veuillez choisir votre pays"}, html_options = {class: "form-control"} %>
        </div>
        <div class="form-group">
          <%= f.label :mobile_number %>
          <%= f.text_field :mobile_number, class: "form-control", placeholder: "Veuillez entrer votre numéro de mobile" %>
        </div>
        <div class="form-group">
          <%= f.label :address %>
          <%= f.text_field :address, class: "form-control", placeholder: "Veuillez entrer votre adresse" %>
        </div>
        <div class="form-group">
          <%= f.label :email %>
          <%= f.text_field :email, class: "form-control", placeholder: "Veuillez entrer votre email" %>
        </div>

        <div  class="form-group">
          <%= f.submit "Valider", class: "button" %>
        </div>
      <% end %>

    </div>

    <div class="six columns">

    </div>
  </div>
</div>
