<%= link_to content_tag(:span, "<b>[ #{@ecommerce.name} -- #{@ecommerce.url}]</b> #{Ecommerce.human_attribute_name("qualified_at")}: #{@ecommerce.qualified_at.strftime("%d-%m-%Y")} à #{@ecommerce.qualified_at.strftime("%Hh %Mmn")}".html_safe), "#", class: "tgg-trigger" %>

<div class = "toggle_container" style = "display: none; overflow: hidden;">
  <div class="sidebar six columns">
    <h2 class = "sb_header">Informations liées au site</h2>
    <p>
      <%= image_tag @ecommerce.logo.url(:thumb) rescue nil %>
    </p>
    <p>
      <% if @ecommerce.published == true %>
        <%= link_to "", disable_ecommerce_path(@ecommerce.id), id: "disable_icon", title: "Désactiver le Ecommerce" %>
      <% else %>
        <%= link_to "", enable_ecommerce_path(@ecommerce.id), id: "enable_icon", title: "Activer le Ecommerce" %>
      <% end %>
      <%= link_to "", ecommerce_available_wallets_path(@ecommerce.id), id: "wallet_icon", title: "Modifier la liste des wallets associés", class: "to-disable" %>
    </p>
    <br /> <br /> <br /> <br />
    <p>
      <%= link_to 'Afficher la liste des transactions', admin_list_wallets_per_country_path(@ecommerce.token), style: "color: blue; font-weight: bold;" %>
    </p>
    <p>
      <b><%= Ecommerce.human_attribute_name("name") %>:</b><br /> <%= @ecommerce.name %>
    </p>
    <p>
      <b><%= Ecommerce.human_attribute_name("url") %>:</b><br /> <%= @ecommerce.url %>
    </p>
    <p>
      <b><%= Ecommerce.human_attribute_name("description") %>:</b>
      <div class = "quoteBox2">
        <div class = "quote-text2">
          <%= simple_format(@ecommerce.description) %>
        </div>
      </div>
    </p>
    <p>
      <b><%= Ecommerce.human_attribute_name("pdt_url") %>:</b><br /> <%= @ecommerce.pdt_url %>
    </p>
    <p>
      <b><%= Ecommerce.human_attribute_name("ipn_url") %>:</b><br /> <%= @ecommerce.ipn_url %>
    </p>
    <p>
      <b><%= Ecommerce.human_attribute_name("order_already_paid_url") %>:</b><br /> <%= @ecommerce.order_already_paid_url %>
    </p>
    <% if @ecommerce.qualified %>
      <p>
        <b><%= Ecommerce.human_attribute_name("service_token") %>:</b><br /> <%= @ecommerce.service_token %>
      </p>
      <p>
        <b><%= Ecommerce.human_attribute_name("operation_token") %>:</b><br /> <%= @ecommerce.operation_token %>
      </p>
    <% end %>
    <div class = "divider3"></div>
    <p>
      <b><%= Ecommerce.human_attribute_name("bank_id") %>:</b><br /> <%= @ecommerce.bank.name rescue "" %>
    </p>
    <p>
      <b><%= Ecommerce.human_attribute_name("rib") %>:</b><br /> <%= @ecommerce.rib %>
    </p>
    <div class = "divider3"></div>
    <p>
      <b><%= Ecommerce.human_attribute_name("created_at") %>:</b><br /> <%= @ecommerce.created_at.strftime("%d-%m-%Y") %> à <%= @ecommerce.created_at.strftime("%Hh %Mmn") %>
    </p>
    <% if @ecommerce.published == false %>
      <p>
        <b><%= Ecommerce.human_attribute_name("unqualified_at") %>:</b><br /> <%= @ecommerce.unqualified_at.strftime("%d-%m-%Y") %> à <%= @ecommerce.unqualified_at.strftime("%Hh %Mmn") %>
      </p>
    <% end %>
  </div>
  <div class="sidebar six columns">
    <h2 class = "sb_header">Informations personnelles</h2>
    <% @user = @ecommerce.user %>
    <p>
      <b><%= User.human_attribute_name("firstname") %>:</b><br /> <%= @user.firstname rescue "" %>
    </p>
    <p>
      <b><%= User.human_attribute_name("lastname") %>:</b><br /> <%= @user.lastname rescue "" %>
    </p>
    <p>
      <b><%= User.human_attribute_name("country_id") %>:</b><br /> <%= @user.country.name rescue "" %>
    </p>
    <p>
      <b><%= User.human_attribute_name("phone_number") %>:</b><br /> <%= @user.phone_number rescue "" %>
    </p>
    <p>
      <b><%= User.human_attribute_name("mobile_number") %>:</b><br /> <%= @user.mobile_number rescue "" %>
    </p>
    <p>
      <b><%= User.human_attribute_name("address") %>:</b><br /> <%= @user.address rescue "" %>
    </p>
    <p>
      <b><%= User.human_attribute_name("email") %>:</b><br /> <%= @user.email rescue "" %>
    </p>
    <p>
      <b><%= User.human_attribute_name("created_at") %>:</b><br /> <%= @user.created_at.strftime("%d-%m-%Y") rescue "" %> à <%= @user.created_at.strftime("%Hh %Mmn") rescue "" %>
    </p>
  </div>
</div>
