<%#= javascript_include_tag "ecommerces"  if Hub::Application.assets.find_asset("ecommerces.js") %>

<!-- PAGE HEADER -->
<div class="container page-header ph-bg2">
  <div class="row">
    <div class="twelve columns">
      <p class="page-title">Ecommerces suspendus</p>
      <ul class="breadcrumbs">
        <li><a><%= render "shared/display_user_name" %></a></li>
        <li><a href="<%= root_path %>">Accueil</a></li>
      </ul>
    </div>
  </div>
</div>
<!-- END PAGE HEADER -->

<div class="container main_content">
  <div class="row">
    <div class="twelve columns">
      <%= render "shared/flash" %>
      <% if @ecommerces.blank? %>
        <h3>Aucune donnée à afficher</h3>
      <% else %>
        <div id = "toggle-style-2">
          <% @ecommerces.each do |ecommerce| %>
            <% @ecommerce = ecommerce %>
            <div class = "tgg-item">
              <%= render "admin_list_ecommerce", locals: {ecommerce: @ecommerce} %>
            </div>
          <% end %>
        </div>

        <%= paginate @ecommerces, :params => {:controller => :ecommerces, :action => :disabled} %>
      <% end %>
    </div>
  </div>
</div>
