<!-- PAGE HEADER -->
<div class="container page-header ph-bg2">
  <div class="row">
    <div class="twelve columns">
      <p class="page-title">Opérations de cashout - Liste des Wallets</p>
      <ul class="breadcrumbs">
        <li><a><%= render "shared/display_user_name" %></a></li>
        <li><a href="<%= root_path %>">Accueil</a></li>
      </ul>
    </div>
  </div>
</div>
<!-- END PAGE HEADER -->

<div class="container main_content">
  <div class="row">
    <div class="twelve columns">
      <%= render "shared/flash" %>
        <h3><a href="<%= list_uba_cashouts_path %>">UBA</a></h3>

        <h3><a href="<%= list_novapay_cashouts_path %>">Novapay</a></h3>

        <h3><a href="<%= list_paypal_cashouts_path %>">Paypal</a></h3>

        <h3><a href="<%= list_orange_money_ci_cashouts_path %>">Orange Money</a></h3>

        <h3><a href="<%= list_mtn_ci_cashouts_path %>">MTN Money</a></h3>

        <h3><a href="<%= list_qash_cashouts_path %>">Qash Services</a></h3>

    </div>
  </div>
</div>
