<!-- Nav bars -->
<!-- Merchants nav bar -->
<% if (current_user.merchant? rescue false) %>
  <nav class="top-bar">
    <ul>
      <!-- RESPONSIVE NAVIGATION -->
      <li class="name">
        <h1><a href="#"> Veuillez choisir une page </a></h1>
      </li>
      <li class="toggle-topbar"><a href="#"></a></li>
      <!-- END RESPONSIVE NAVIGATION -->
    </ul>
    <section>
      <ul class="right">
        <li>
          <a class="<%= @buy_active %>" href="<%= ((params[:controller] == 'home' && params[:action] == 'home') ? '' : root_path) %>#buyers">Achetez</a>
        </li>
        <li>
          <a class="<%= @sell_active %>" href="<%= ((params[:controller] == 'home' && params[:action] == 'home') ? '' : root_path) %>#merchants">Vendez</a>
        </li>
        <li class = "has-dropdown">
          <%= link_to "Ecommerces", "#", class: @ecommerce_active %>
          <ul class = "dropdown">
            <li class = "title back js-generated">
              <h5>
                <%= link_to "Ecommerce", (current_user.has_ecommerce ? merchant_edit_ecommerce_path : merchant_ecommerce_path), class: @ecommerce_active %>
              </h5>
            </li>
            <li>
              <%= link_to "Modifier les paramètres", merchant_edit_ecommerce_path %>
            </li>
            <li>
              <%= link_to "Liste des transactions", merchant_wallets_per_country_path %>
            </li>
          </ul>
        </li>
        <li>
          <a class="<%= @help_active %>" href="#">Aide & support</a>
        </li>
        <li>
          <%= link_to "Contacts", contact_path, class: @contact_active %>
        </li>
        <li>
          <%= link_to "Déconnexion", destroy_user_session_path, :method => :delete %>
        </li>
      </ul>
    </section>
  </nav>
<% end %>
<!-- End merchants nav bar -->
<!-- Admins nav bar -->
<% if (current_user.admin? rescue false) %>
  <nav class="top-bar">
    <ul>
      <!-- RESPONSIVE NAVIGATION -->
      <li class="name">
        <h1><a href="#"> Veuillez choisir une page </a></h1>
      </li>
      <li class="toggle-topbar"><a href="#"></a></li>
      <!-- END RESPONSIVE NAVIGATION -->
    </ul>
    <section>
      <ul class="right">
        <li>
          <a class="<%= @buy_active %>" href="<%= ((params[:controller] == 'home' && params[:action] == 'home') ? '' : root_path) %>#buyers">Achetez</a>
        </li>
        <li>
          <a class="<%= @sell_active %>" href="<%= ((params[:controller] == 'home' && params[:action] == 'home') ? '' : root_path) %>#merchants">Vendez</a>
        </li>
        <li class = "has-dropdown">
          <%= link_to "Ecommerces", "#", class: @ecommerce_active %>
          <ul class = "dropdown">
            <li class = "title back js-generated">
              <h5>
                <%= link_to "Ecommerces", "#" %>
              </h5>
            </li>
            <li>
              <%= link_to "En attente de qualification", ecommerces_waiting_qualification_path %>
            </li>
            <li>
              <%= link_to "Qualifiés", qualified_ecommerces_path %>
            </li>
            <li>
              <%= link_to "Désactivés", disabled_ecommerces_path %>
            </li>
            <li>
              <%= link_to 'Liste des transactions', transactions_list_ecommerces_path %>
            </li>
          </ul>
        </li>
        <li class = "has-dropdown">
          <%= link_to "POS", "#", class: @pos_active %>
          <ul class = "dropdown">
            <li class = "title back js-generated">
              <h5>
                <%= link_to "POS", "#" %>
              </h5>
            </li>
            <li>
              <a class="<%= @pos_active %>" href="<%= new_pos_account_path %>">Création de POS marchand</a>
            </li>
            <li>
              <a class="<%= @pos_list_active %>" href="<%= list_merchant_pos_account_path %>">Liste des POS marchands</a>
            </li>
          </ul>
        </li>
        <li>
          <%= link_to "Contacts", contact_path, class: @contact_active %>
        </li>
        <li>
          <%= link_to "Déconnexion", destroy_user_session_path, :method => :delete %>
        </li>
      </ul>
    </section>
  </nav>
<% end %>

<% if (current_user.posm? rescue false) %>
  <nav class="top-bar">
    <ul>
      <!-- RESPONSIVE NAVIGATION -->
      <li class="name">
        <h1><a href="#"> Veuillez choisir une page </a></h1>
      </li>
      <li class="toggle-topbar"><a href="#"></a></li>
      <!-- END RESPONSIVE NAVIGATION -->
    </ul>
    <section>
      <ul class="right">
        <li>
          <a class="<%= @buy_active %>" href="<%= ((params[:controller] == 'home' && params[:action] == 'home') ? '' : root_path) %>#buyers">Achetez</a>
        </li>
        <li>
          <a class="<%= @sell_active %>" href="<%= ((params[:controller] == 'home' && params[:action] == 'home') ? '' : root_path) %>#merchants">Vendez</a>
        </li>
        <li class = "has-dropdown">
          <%= link_to "Profil du POS", "#", class: @pos_profile_active %>
          <ul class = "dropdown">
            <li class = "title back js-generated">
              <h5>
                <%= link_to "Profil du POS", "#" %>
              </h5>
            </li>
            <li>
              <a class="<%= @posm_active %>" href="<%= posm_index_path %>">Informations</a>
            </li>
            <li>
              <a class="<%= @posm_transactions_active %>" href="<%= posm_transactions_path %>">Liste des transactions</a>
            </li>
            <% cashout_status = current_user.can_cashout_to_rib rescue false %>
            <% if cashout_status %>
              <li>
                <a class="<%= @posm_cashout_active %>" href="<%= cashout_path %>">Cash Out vers RIB</a>
              </li>
            <% end %>
          </ul>
        </li>
        <li>
          <%= link_to "Contacts", contact_path, class: @contact_active %>
        </li>
        <li>
          <%= link_to "Déconnexion", destroy_user_session_path, :method => :delete %>
        </li>
      </ul>
    </section>
  </nav>
<% end %>
<!-- End admins nav bar -->
<!-- Unregistered nav bar -->
<% if current_user.blank? %>
  <nav class="top-bar">
    <ul>
      <!-- RESPONSIVE NAVIGATION -->
      <li class="name">
        <h1><a href="#"> Veuillez choisir une page </a></h1>
      </li>
      <li class="toggle-topbar"><a href="#"></a></li>
      <!-- END RESPONSIVE NAVIGATION -->
    </ul>
    <section>
      <ul class="right">
        <li>
          <a class="<%= @buy_active %>" href="<%= ((params[:controller] == 'home' && params[:action] == 'home') ? '' : root_path) %>#buyers">Achetez</a>
        </li>
        <li>
          <a class="<%= @sell_active %>" href="<%= ((params[:controller] == 'home' && params[:action] == 'home') ? '' : root_path) %>#merchants">Vendez</a>
        </li>
        <li>
          <a class="<%= @help_active %>" href="#">Aide & support</a>
        </li>
        <li>
          <%= link_to "Connexion", select_sign_in_profile_path, class: @connection_active %>
        </li>
        <li>
          <%= link_to "Inscription", select_sign_up_profile_path, class: @registration_active %>
        </li>
        <li>
          <%= link_to "Contacts", contact_path, class: @contact_active %>
        </li>
      </ul>
    </section>
  </nav>
<% end %>
<!-- End Unregistered nav bar -->
<!-- End nav bars -->
