<script>
  $(document).ready(function() {
    $('#transactions').DataTable();
  } );
</script>

<% if @transactions.blank? %>
  <h3>Aucune donnée à afficher</h3>
<% else %>

  <table id="transactions" class="display" cellspacing="0">
    <thead>
        <tr>
          <th width = "10%">Id de transaction</th>
          <th width = "10%">Identifiant</th>
          <th width = "10%">Date</th>
          <th width = "10%">Montant de la transaction</th>
          <th width = "10%">Montant payé</th>
          <th width = "10%">Montant des frais</th>
          <th width = "10%">Taux de change</th>
        </tr>
    </thead>
    <tbody>
      <% unless @transactions.blank? %>
        <% @transactions.each do |transaction| %>
          <tr>
              <th><%= transaction['transaction_id'] %></th>
              <th><%= transaction['number'] %></th>
              <th><%= transaction['created_at'] %> </th>
              <th><%= transaction['full_transaction_amount'] %></th>
              <th><%= transaction['full_paid_transaction_amount'] %></th>
              <th><%= transaction['full_fee'] %></th>
              <th><%= transaction['rate'] %></th>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>

<% end %>
