<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->

<head>
<meta charset="utf-8">
<title>PayMoney::POS Marchand</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width">
  <link rel="icon" href="<%= asset_path 'favicon.ico' %>" />
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>

<!-- IE Fix for HTML5 Tags -->
<!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

</head>

<body id = "blue" onload="initialize()">
<%#= yield %>
<!-- THEMES PANEL -->


<!-- HEADER -->
<div id="header">
  <div class="row">
    <div class="three columns"> <%= link_to "", root_path, id: "logo", title: "PayMoney" %> </div>

    <!-- NAVIGATION -->
    <script>
      $('a').click(function(){
        $('html, body').animate({
          scrollTop: $('[name="' + $.attr(this, 'href').substr(1) + '"]').offset().top
      }, 900);
        return false;
      });
    </script>
    <div class="nine columns">
      <%= render "shared/main_menu" %>
    </div>
    <!-- END NAVIGATION -->
    <div class="shadow-down"></div>
  </div>
</div>
<!--END HEADER -->

<%= yield %>

<%= render "layouts/footer" %>
<%= javascript_include_tag 'misc' %>
</body>
</html>
