<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->

<head>
<meta charset="utf-8">
<title>PayMoney</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width">
  <link rel="icon" href="<%= asset_path 'favicon.ico' %>" />
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

<!-- IE Fix for HTML5 Tags -->
<!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

</head>

<body id = "blue">
<%#= yield %>
<!-- THEMES PANEL -->


<!-- HEADER -->
<div id="header">
  <div class="row">
    <div class="three columns"> <%= link_to "", root_path, id: "logo", title: "PayMoney" %> </div>

    <!-- NAVIGATION -->
    <div class="nine columns">
      <nav class="top-bar">
        <ul>
          <!-- RESPONSIVE NAVIGATION -->
          <li class="name">
            <h1><a href="#"> Veuillez choisir une page </a></h1>
          </li>
          <li class="toggle-topbar"><a href="#"></a></li>
          <!-- END RESPONSIVE NAVIGATION -->
        </ul>
        <section>
          <ul class="right">
            <li>
              <a class="<%= @buy_active %>" href="index-2.html">Achetez</a>
            </li>
            <li>
              <a class="<%= @sell_active %>" href="#">Vendez</a>
            </li>
            <li>
              <a class="<%= @help_active %>" href="#">Aide & support</a>
            </li>
            <li>
              <%= link_to "Connexion", select_sign_in_profile_path, class: @connection_active %>
            </li>
            <li>
              <%= link_to "Inscription", select_sign_up_profile_path, class: @registration_active %>
            </li>
          </ul>
        </section>
      </nav>
    </div>
    <!-- END NAVIGATION -->
    <div class="shadow-down"></div>
  </div>
</div>
<!--END HEADER -->

<%= yield %>

<%= render "layouts/footer" %>

</body>
</html>
